# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables / secrets
.env
*.json
!.vscode/

# Jupyter
.ipynb_checkpoints/

# Raw datasets
data/raw/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db